
body {
  background-color: #2c2c2c;
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
}

.main {
  display: flex;
  gap: 200px;
  margin-bottom: 100px;
}

.left {
    justify-content: center;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}



#labubu {

      width: 500px;
      cursor: pointer;
      transition: transform 0.1s;
    }
#labubu:hover {
 opacity:0.9;
}

#labubu:active{
    opacity:0.7;
    transform: scale(1.05)
}
.upgradeimg{
  width:65px
}
.upgrade{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
  border: 3px solid white;
  border-radius: 5px;
  height: 60px;
  width: 330px;
  position: relative;
  margin-bottom: 20px;

}
.upgrade:hover {
 opacity:0.9;
}

.upgrade:active{
    opacity:0.7;
    transform: scale(1.05)
}